body {
  background-color: #D8F2F0;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #333;
}

h1 {
  color: #3E8C84;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 75px;
  background-color: #194759;
  color: #eee;
  vertical-align: middle;
  -webkit-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);
}

nav ul {
  margin-top: 0;
  text-align: right;
  padding: 0 10px 20px 0;
}

nav ul li {
  display: inline;
  padding: 0px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #eee;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #296B73;
}

nav h1 {
  margin: 0;
  padding: 25px 0 0 20px;
  text-align: left;
  color: #eee;
}

main {
  padding: 10px;
}


.albums li strong {
  float: left;
}

ul.albums {
  padding: 0;
  color: #333;
  text-decoration: none;
  list-style: none;
}

ul.albums a {
  color: #333;
  text-decoration: none;
}

.buttons {
  padding: 0;
  display: inline;
  float: left;
}

.buttons form {
  float: left;
}

.buttons li {
  float: left;
  display: inline;
}
.btn {
  cursor: pointer;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.btn:hover {
  color: white;
}

.btn.edit {
  background-color: #FF974F;
}

.btn.delete {
  background-color: #F54F29;
}

.btn.reviews {
  background-color: #337ab7;
}

.btn.accept {
  background-color: #5cb85c;
}

input {
  border: 1px solid #555;
  height: 15px;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
}

footer {
  text-align: left;
  bottom: 0;
  width: 100%;
  background-color: #296B73;
  color: #eee;
  padding: 10px;
  height: 50px;
}

footer ul {
  padding: 0;
  margin-bottom: 0 20px 0 0;
}

footer ul li {
  display: inline;
}

.bottom-nav {
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 15px;
  font-size: .75em;
}

.bottom-nav a {
  color: white;
}

main {
  padding: 20px;
  margin-bottom: 50px;
}
