body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  width: 100%;
  height: 75px;
  background-color: #405952;
  color: #eee;
  text-align: right;
  -webkit-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);
}

ul {
}

nav ul li {
  display: inline;
  padding: 0px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #eee;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav h1 {
  margin-top: 0px;
  text-align: left;
}

main {
  padding: 10px;
}

ul.albums {
  color: #333;
  text-decoration: none;
}

ul.albums a {
  color: #333;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.btn:hover {
  color: white;
}

.btn.edit {
  background-color: #FF974F;
}

.btn.delete {
  background-color: #F54F29;
}

.btn.reviews {
  background-color: #337ab7;
}

input {
  height: 15px;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
}

footer {
  text-align: left;
  width: 100%;
  background-color: #9C9B7A;
  color: #eee;
  padding: 10px;
  position: absolute;
  bottom: 0;
  height: 50px;
}

footer ul {
  margin-bottom: 0 20px 0 0;
}
